/* figure out how to get my gif to span the length of the rows instead of repeating halfway through, if possible. */
body {
    background-image:url("https://i.makeagif.com/media/11-04-2015/GPnSgZ.gif");
    width: 100%;
    length: 100%;
}

h1 {
    
    font-size: 45px;
    border: solid 5px blueviolet;
    background: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: 'Margarine', cursive;
}

h2 {
    font-family: 'Margarine', cursive;
    font-size: 25px;
    padding-top: 10px;
}

img {
    margin: 10px;
}

.sidebar {
    padding: 5px;
    position: relative;
    border-top: solid blueviolet 2px;
    border-bottom: solid blueviolet 2px;
    margin-bottom: 5px;
    font-family: 'Margarine', cursive;
    font-size: 12px;
}

span {
    border: solid blueviolet 2px;
    padding-left: 3px;
    padding-right:3px;
    background-color: whitesmoke; 
    font-size: 15px;
}


.container {
    background-color: white;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    border: solid 3px blueviolet;
}

#currentword {
    font-size: 30px;
    font-family: 'Margarine', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}